.gallery__container {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery__images {
  margin: 10px 15px 40px 0;
  padding: 0;
}
.column:last-child {
  padding-bottom: 60px;
}
.gallery__images::after {
  content: "";
  clear: both;
  display: block;
}
.gallery__images div {
  position: relative;
  float: left;
  width: 300px;
  height: 200px;
  margin: 0 0 0 25px;
  padding: 0;
}
.column div:first-child {
  margin-left: 0;
}
.gallery__images div span {
  position: absolute;
  bottom: 0;
  opacity: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 300px;
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  transition: 0.3s ease-in-out;
  /* i used all beacause i had to use different transition properties */
  opacity: 1;
}

figure {
  width: 300px;
  height: 200px;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}

figure:hover + span {
  bottom: -45px;
  opacity: 1;
}
figure:hover + button {
  opacity: 1;
}

figure img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: 0.3s ease-in-out;
}
figure:hover img {
  transform: scale(1.3);
}
